.about {
  background: white;
  max-width: 800px;
  width: 100%;
  margin: 100px auto;
  padding: 40px;
  border-radius: 5px;
  color: black;
  text-align: left;



  &__body{
    font-size: 1.5rem;
    font-weight: 500;
    ul{
      list-style-type: none;
    }
    li{
      margin: 20px;
    }
  }
}
