

.about {
  background: white;
  max-width: 800px;
  width: 100%;
  margin: 10px auto;
  padding: 10px 0;
  border-radius: 5px;
  color: black;
  text-align: left;

  @mixin atMedium{
    padding: 40px;
    margin: 100px auto;
  }

  &__body{
    font-size: 1.5rem;
    font-weight: 500;
    ol{
      list-style-type: none;
      counter-reset: list-numbers;
      max-width: 500px;
      margin: 0 auto;
    }
    ol li{
      counter-increment: list-numbers;
      margin: 1.2rem;
      padding: .5rem .5rem .5rem .5rem;
      font-size: 1.2rem;     
      position: relative; 
    }
    ol li::before{
      content: "0" counter(list-numbers);
      /* margin: 20px; */
      position: absolute;
      left: -3.2rem;
      line-height: 3rem;
      width: 3rem;
      height: 3rem;
      top:0;
      text-align: center;
      font-size: 2.7rem;
      color: $green;      
    }
  }
}
