.card {
  background-color: white;
  color: black;
  max-width: 250px;
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);

  &__pic > img {
    width: 100%;
  }
}
