.dropdown {
  color: black;
  border: white solid;
  background-color: white;
  width: 200px;
  text-align: center;
  margin: 5px 15px;
  cursor: pointer;
  position: relative;
  /* z-index: 100; */

  &__header-title {
    position: relative;
    /* padding: 5px 0; */
    line-height: 40px;
  }

  &__icon {
    position: relative;
    top: 10px;
  }

  &__list {
    z-index: 105;
    position: absolute;
    background-color: white;
    width: 200px;
    list-style-type: none;
    padding: 10px 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 10px;
    height: 300px;
    overflow: auto;
    box-shadow: 0px 8px 5px 4px rgba(0, 0, 0, .2);
    @mixin atMedium{
      box-shadow: 0 0 0 0;
    }
  }


  &__list-item {
    margin-right: 1px;

    &:hover {
      background-color: $green;
      color: white;
    }
  }
}
