.footer {
  z-index: 0;
  /* background-color: white; */
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 20px 0;

  &__links {
    div {
      margin: 0px 10px;
      font-weight: bold;
      text-decoration: none;
    }
    a {
      text-decoration: none;
      color: black;
      &:hover{
      color: #80bd9e;  

      }
    }
  }
}
