.landing-page {
  &__content {
    position: relative;
    text-align: center;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    color: white;
    /* max-width: 1000px; */
    width: 100%;
    /* height: 70vh; */
    margin: 0 auto;
  }
}
