.title-block {
  text-align: center;
  &--title {
    font-size: 2rem;
    font-weight: 900;
    padding: 20px;
    margin: 0;
    /* margin-bottom: 20px; */
    font-family: "Roboto Slab", serif;

    @mixin atMedium {
      font-size: 3.5rem;
    }
  }
  &--subtitle {
    font-size: 1rem;
    font-weight: 900;
    margin: 0;
    padding-bottom: 25px;
    color: white;

    @mixin atMedium {
      font-size: 1.5rem;
    }
  }
}
