.title-block {
  &--title {
    font-size: 3.5rem;
    font-weight: 900;
    margin-bottom: 20px;
    font-family: "Roboto Slab", serif;
  }
  &--subtitle {
    font-size: 1.5rem;
    font-weight: 900;
    margin-top: 0;
  }
}
