html {
  margin: 0;
}

body {
  margin: 0;
}

.flex-container {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
}

.flex-container--justify-start {
    -webkit-box-pack: start;
            justify-content: flex-start;
  }

.btn {
  text-decoration: none;
  text-transform: uppercase;
  background: #80bd9e;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn:hover {
    background-color: white;
    border: #80bd9e 1px solid;
    color: #80bd9e;
  }

.btn:focus {
    outline: none;
  }

.btn:active {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

.background {
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  margin-top: 0;
}

/* overflow: auto; */

.background:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    background: url(./img/bg-large.jpg);
    background-size: auto auto;
  }

.App {
  font-family: 'Roboto', sans-serif;
  position: relative;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  /* top: 0px; */
  overflow: auto;
}

/* overflow: auto; */

.landing-page__content {
    /* position: relative; */
    text-align: center;
    /* height: 90vh; */
    color: white;
    width: 100%;
    margin: 0 auto;
    padding-bottom: 50px;
  }

.title-block--title {
    font-size: 2rem;
    font-weight: 900;
    margin-bottom: 20px;
    font-family: "Roboto Slab", serif;
  }

@media (min-width: 425px) {

.title-block--title {
      font-size: 3.5rem
  }
  }

.title-block--subtitle {
    font-size: 1rem;
    font-weight: 900;
    margin-top: 0;
  }

@media (min-width: 425px) {

.title-block--subtitle {
      font-size: 1.5rem
  }
  }

.dropdown {
  color: black;
  /* border: white solid; */
  background-color: white;
  width: 200px;
  text-align: center;
  margin: 5px 15px;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.dropdown__header-title {
    position: relative;
    /* padding: 5px 0; */
    line-height: 40px;
  }

.dropdown__icon {
    position: relative;
    top: 10px;
  }

.dropdown__list {
    z-index: 100;
    position: absolute;
    background-color: white;
    width: 200px;
    list-style-type: none;
    padding: 10px 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 10px;
    height: 300px;
    overflow: auto;
  }

.dropdown__list-item {
    margin-right: 1px;
  }

.dropdown__list-item:hover {
      background-color: #5fba7d;
      color: white;
    }

.card {
  background-color: white;
  color: black;
  width: 250px;
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card__pic > img {
    width: 100%;
    height: 200px;
  }

.recipeCard {
  padding-bottom: 80px;
  padding-top: 40px;
  width: 100%;
  margin: 0px;
  position: relative;
  top: 0;
  color: black;
}

.recipeCard h1,
  .recipeCard__img {
    text-align: center;
    margin-bottom: 15px;
  }

.recipeCard h1 img, .recipeCard__img img {
      border-radius: 5%;
    }

.recipeCard h1 {
    font-family: "Roboto Slab", serif;
    font-size: 3rem;
    color: #80bd9e;
  }

.recipeCard__content {
    max-width: 610px;
    margin-left: auto;
    margin-right: auto;
  }

.recipeCard__col-left {
    margin-right: auto;
    margin-left: auto;
    max-width: 489px;
    text-align: left;
  }

.recipeCard__col-left h2 {
      text-align: center;
    }

@media (min-width: 610px) {

.recipeCard__col-left {
      margin-right: 25px
  }
      .recipeCard__col-left h2 {
        text-align: left;
      }
    }

.recipeCard__col-right {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }

.recipeCard__nutrients {
    display: inline-block;
    color: #80bd9e;
    cursor: pointer;
    font-weight: bold;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

.recipeCard__nutrients:active {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }

.recipeCard__recipeBtn {
    text-align: center;
    margin: 10px auto;
  }

.results {
  margin-top: 10px;
  padding-bottom: 40px;
  background: #f4f4f4;
}

.modal {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.modal__main {
    position: relative;
    background: white;
    width: 60%;
    height: auto;
    padding: 20px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    border-radius: 5px;
  }

.modal ul {
    -webkit-columns: 2;
            columns: 2;
    list-style-type: none;
    text-align: left;
  }

.modal__li-label {
    font-weight: bold;
  }

.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.3rem;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

.modal__close:hover {
      color: #80bd9e;
    }

.modal__close:active {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }

.footer {
  z-index: 0;
  background-color: white;
  color: black;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  padding: 20px 0;
}

.footer__links div {
      margin: 0px 10px;
      font-weight: bold;
    }

.about {
  background: white;
  max-width: 800px;
  width: 100%;
  margin: 300px auto;
  padding: 40px;
  border-radius: 5px;
}

.about__title {
    text-align: center;
    margin-bottom: 30px;
  }
