html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

#root{
  height: 100%;
}

.flex-container {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
          justify-content: center;
}

.flex-container--justify-start {
    -webkit-box-pack: start;
            justify-content: flex-start;
  }

.flex-container--center{
    -webkit-box-align: center;
            align-items: center;
  }

.btn {
  text-decoration: none;
  text-transform: uppercase;
  background: #80bd9e;
  border: 1px solid white;
  color: white;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.btn:hover {
    background-color: white;
    border: #80bd9e 1px solid;
    color: #80bd9e;
  }

.btn:focus {
    outline: none;
  }

.btn:active {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }

.btn:disabled{
    background-color: grey;
    color:white;
    -webkit-transform: scale(1);
            transform: scale(1);
    border: white 1px solid;
    cursor: default;
  }

.wrapper{
  /* background-color: white; */
  /* position: relative; */
  /* background: #f4f4f4; */
  /* z-index: -3; */
  min-height: 100vh;
  /* min-height: calc(100vh - 20px); */
}

.background {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -3;
}

.background__img{
    height: 30vh;
    background: -webkit-linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url(./img/bg-large.jpg);
    background: linear-gradient( rgba(0,0,0,0.5), rgba(0, 0, 0, 0.5) ),url(./img/bg-large.jpg);
    background-size: cover;
   
  }

.background__color{
    height: 70vh;
    background:#eeeeee;
  }

.App {
  font-family: 'Roboto', sans-serif;
  position: relative;
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: auto;
  margin: 0 auto;
}

.landing-page {
  overflow: auto;
    /* position: relative; */
    /* z-index: 0; */
    height: 100%;
    padding-bottom: 50px;
}

.landing-page__content {
    text-align: center;
    /* z-index: 1; */
    /* height: 90vh; */
    color: white;
    width: 100%;
    margin: 0 auto;
    /* padding-bottom: 50px; */
  }

.title-block {
  text-align: center;
}

.title-block--title {
    font-size: 2rem;
    font-weight: 900;
    padding: 20px;
    margin: 0;
    /* margin-bottom: 20px; */
    font-family: "Roboto Slab", serif;
  }

@media (min-width: 425px) {

.title-block--title {
      font-size: 3.5rem
  }
  }

.title-block--subtitle {
    font-size: 1rem;
    font-weight: 900;
    margin: 0;
    padding-bottom: 25px;
    color: white;
  }

@media (min-width: 425px) {

.title-block--subtitle {
      font-size: 1.5rem
  }
  }

.dropdown {
  color: black;
  border: white solid;
  background-color: white;
  width: 200px;
  text-align: center;
  margin: 5px 15px;
  cursor: pointer;
  position: relative;
}

/* z-index: 100; */

.dropdown__header-title {
    position: relative;
    /* padding: 5px 0; */
    line-height: 40px;
  }

.dropdown__icon {
    position: relative;
    top: 10px;
  }

.dropdown__list {
    z-index: 105;
    position: absolute;
    background-color: white;
    width: 200px;
    list-style-type: none;
    padding: 10px 0;
    margin-left: 0;
    margin-top: 0;
    margin-right: 10px;
    height: 300px;
    overflow: auto;
    box-shadow: 0px 8px 5px 4px rgba(0, 0, 0, .2);
  }

@media (min-width: 425px) {

.dropdown__list {
      box-shadow: 0 0 0 0
  }
  }

.dropdown__list-item {
    margin-right: 1px;
  }

.dropdown__list-item:hover {
      background-color: #80bd9e;
      color: white;
    }

.card {
  background-color: white;
  color: black;
  width: 250px;
  padding: 10px;
  margin: 15px;
  border-radius: 5px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.card__pic > img {
    width: 100%;
    height: 200px;
  }

.recipeCard {
  padding-bottom: 80px;
  padding-top: 40px;
  width: 100%;
  margin: 0px;
  position: relative;
  top: 0;
  color: black;
}

.recipeCard h1,
  .recipeCard__img {
    text-align: center;
    margin-bottom: 15px;
  }

.recipeCard h1 img, .recipeCard__img img {
      border-radius: 5%;
    }

.recipeCard h1 {
    font-family: "Roboto Slab", serif;
    font-size: 3rem;
    color: #80bd9e;
  }

.recipeCard__content {
    max-width: 610px;
    margin-left: auto;
    margin-right: auto;
  }

.recipeCard__col-left {
    margin-right: auto;
    margin-left: auto;
    max-width: 489px;
    text-align: left;
  }

.recipeCard__col-left h2 {
      text-align: center;
    }

@media (min-width: 610px) {

.recipeCard__col-left {
      margin-right: 25px
  }
      .recipeCard__col-left h2 {
        text-align: left;
      }
    }

.recipeCard__col-right {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
  }

.recipeCard__nutrients {
    display: inline-block;
    color: #80bd9e;
    cursor: pointer;
    font-weight: bold;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

.recipeCard__nutrients:active {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }

.recipeCard__recipeBtn {
    text-align: center;
    margin: 10px auto;
  }

.results {
  margin-top: 10px;
  /* padding-bottom: 40px; */
  background: #f4f4f4;
}

.modal {
  background: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: auto;
}

.modal__main {
    position: relative;
    background: white;
    width: 80%;
    margin: 10px auto;
    height: auto;
    padding: 20px;
    /* top: 50%; */
    /* left: 50%; */
    border-radius: 5px;
    overflow: auto;
  }

@media (min-width: 370px) {

.modal__main {
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
              transform: translate(-50%, -50%);
      margin: 0
  }
  }

.modal ul {
    -webkit-columns: 1;
            columns: 1;
    list-style-type: none;
    text-align: left;
    -webkit-padding-start: 0px;
            padding-inline-start: 0px;
  }

@media (min-width: 425px) {

.modal ul {
      -webkit-columns: 2;
              columns: 2;
      list-style-type: none;
      text-align: left;
      -webkit-padding-start: 40px;
              padding-inline-start: 40px
  }
  }

.modal__li-label {
    font-weight: bold;
  }

.modal__close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 1.3rem;
    -webkit-transform: scale(1);
            transform: scale(1);
  }

.modal__close:hover {
      color: #80bd9e;
    }

.modal__close:active {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }

.footer {
  background-color: white;
  margin-top: -50px;
  width: 100%;
  height: 50px;
}

.footer__links {
    height: 50px;
  }

.footer__links div {
      padding: 0px 10px;
      font-weight: bold;
      text-decoration: none;
    }

.footer__links a {
      text-decoration: none;
      color: black;
    }

.footer__links a:hover{
      color: #80bd9e;  

      }

.about {
  background: white;
  max-width: 800px;
  width: 100%;
  margin: 10px auto;
  padding: 10px 0;
  border-radius: 5px;
  color: black;
  text-align: left;
}

@media (min-width: 425px) {

.about {
    padding: 40px;
    margin: 100px auto
}
  }

.about__body{
    font-size: 1.5rem;
    font-weight: 500;
  }

.about__body ol{
      list-style-type: none;
      counter-reset: list-numbers;
      max-width: 500px;
      margin: 0 auto;
    }

.about__body ol li{
      counter-increment: list-numbers;
      margin: 1.2rem;
      padding: .5rem .5rem .5rem .5rem;
      font-size: 1.2rem;     
      position: relative; 
    }

.about__body ol li::before{
      content: "0" counter(list-numbers);
      /* margin: 20px; */
      position: absolute;
      left: -3.2rem;
      line-height: 3rem;
      width: 3rem;
      height: 3rem;
      top:0;
      text-align: center;
      font-size: 2.7rem;
      color: #80bd9e;      
    }

.contact{
  /* min-height: 90vh; */
  /* height: 90%; */
  background: #eeeeee;
  /* margin-bottom: 10px; */
  padding-bottom: 50px;
}

.contact__main{
  background: white;
  position: relative;
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  padding: 5px;
  overflow: auto;
  }

@media (min-width: 425px) {

.contact__main{
    margin-top: 150px;
    padding: 20px
  }
  }

.contact__main form{
    overflow: auto;
  }

.contact__main h1{
    text-align: center;
  }

.contact__main label,.contact__main input,.contact__main textarea{
    display: block;
    width: 90%;
    margin-top: 15px;
  }

.contact__main label{
    color: grey;
    font-weight: 500;
    font-size: 1.2rem;
  }

.contact__main textarea{
    height: 150px;
  }

.contact__main input,.contact__main textarea{
    padding: 5px;
    margin-left: 5px;
  }

.contact__main button{
    margin: 15px auto 0 auto;
    width: 100px;
    display: block;
  }
